/* css file for randomized movent on hoover */

.moving-element {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.1s ease-out;
  }